---
import { LogoImage, FeaturedSVG } from "../config";
---

<main>
  <div
    class="container mx-auto max-w-7xl flex flex-col space-x-10 md:flex-row bg-white"
  >
    <div class="mx-auto md:w-1/2 lg:w-full flex justify-center">
      <div class="flex justify-center items-center dark:text-gray-900">
        <!-- <img
          class="mx-auto flex justify-center items-center h-20 w-auto"
          src={LogoImage.src}
          alt="دراهم"
        /> -->

        <div
          class="mx-6 -mt-4 pb-3 text-center text-base text-gray-600 dark:text-gray-300 sm:text-lg sm:max-w-xl sm:mx-auto md:text-xl lg:mx-0 space-y-5"
        >
          <!-- <span
            id="about"
            class="flex justify-center font-extrabold text-6xl text-[#0f3548]"
          >
            شركة دراهم</span
          > -->
          <p>
            <div id="texts"></div>
            <svg viewBox="0 0 1320 160">
              <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                شركة دراهم
              </text>
            </svg>
            <svg viewBox="0 0 1320 160">
              <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                نحن نعمل لتكون انت الافضل
              </text>
            </svg>
          </p>
        </div>
      </div>
    </div>
    <div class="hidden mx-auto border-t-4 text-white md:w-1/2 lg:w-full">
      <img
        class="mx-auto flex justify-center"
        src={FeaturedSVG.src}
        alt="دراهم"
      />
    </div>
  </div>
</main>
<style is:global>
  #Layer_1 {
    fill: navy;
    stroke: gold;
    stroke-width: 2px;
    stroke-dasharray: 120;
    animation: draw 3s forwards infinite;
  }
  @keyframes draw {
    from {
      stroke-dashoffset: -120;
      /* stroke: navy; */
      stroke: #f0c986;
      fill: #f0c986;
    }

    to {
      stroke-dashoffset: 0;
      /* stroke: #f0c986; */
      stroke: #0f3548;
      fill: #0f3548;
    }
  }

  /* .dark svg text {
    animation: stroke 6s infinite alternate;
    stroke-width: 2;
    stroke: #f0c986;
    animation-delay: 2s;
    font-size: 140px;
    text-shadow: 0 0 10px #f0c986;
    box-shadow: 0 0 2px #f0c986;
  }
  .dark{ @keyframes stroke {
    0% {
      fill: #f0c986;
      stroke: #f0c986;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
      filter: hue-rotate(0deg);
    }

    70% {
      fill: rgba(72, 138, 20, 0);
      stroke: rgba(54, 95, 160, 1);
    }
    80% {
      fill: rgba(72, 138, 20, 0);
      stroke: rgba(54, 95, 160, 1);
      stroke-width: 3;
    }
    100% {
      fill: #f0c986;
      stroke: #f0c986;
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 2;
      filter: hue-rotate(360deg);
    }} */
  svg text {
    /* text-transform: uppercase; */
    animation: stroke 6s infinite alternate;
    stroke-width: 2;
    stroke: #0f3548;
    animation-delay: 2s;
    font-size: 140px;
    text-shadow: 0 0 5px #08364d;
    /* text-shadow: 0 0 15px #76c2e8;
    text-shadow: 0 0 10px #4caedf; */
    box-shadow: 0 0 7px #08364d;
  }
  @keyframes stroke {
    0% {
      fill: #0f3548;
      stroke: #0f3548;
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
      filter: hue-rotate(0deg);
    }

    70% {
      fill: rgba(72, 138, 20, 0);
      stroke: rgba(54, 95, 160, 1);
    }
    80% {
      fill: rgba(72, 138, 20, 0);
      stroke: rgba(54, 95, 160, 1);
      stroke-width: 3;
    }
    100% {
      fill: #0f3548;
      stroke: #0f3548;
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 2;
      filter: hue-rotate(360deg);
    }
  }

  /* .cls-1 {
    fill: white;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 5;
    stroke-linecap: round;

    stroke-dasharray: 860;
    stroke-dashoffset: 860;
    animation: draw 2s linear forwards;
  } */

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  #texts {
    overflow: hidden;
    background: hsla(0, 5%, 5%, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(
      to right top,
      hsla(0, 5%, 15%, 0.5),
      hsla(0, 5%, 5%, 1)
    );
  }
  svg {
    width: 100%;
  }
</style>
<script is:inline>
  var path = document.querySelector(".cls-1");
  var pathlenget = path.getTotalLength();
  console.log(pathlenget);
</script>
