---
import { LogoImage, FeaturedSVG } from "../config";
---

<main>
  <div
    class="container mx-auto max-w-7xl flex flex-col space-x-10 md:flex-row bg-slate-200 dark:bg-gray-900"
  >
    <div class="mx-auto md:w-1/2 lg:w-full flex justify-center">
      <div class="flex justify-center items-center dark:text-gray-900">
        <!-- <img
          class="mx-auto flex justify-center items-center h-20 w-auto"
          src={LogoImage.src}
          alt="دراهم"
        /> -->

        <div
          class="mt-1 mx-6 text-center text-base text-gray-600 dark:text-gray-300 sm:mt-0 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-10 md:text-xl lg:mx-0 space-y-5"
        >
          <!-- <span
            id="about"
            class="flex justify-center font-extrabold text-6xl text-[#0f3548]"
          >
            شركة دراهم</span
          > -->
          <p>
            <div id="texts"></div>
            <svg viewBox="0 0 1320 300">
              <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                شركة دراهم
              </text>
            </svg>
            <svg viewBox="0 0 1320 300">
              <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                نحن نعمل لتكون انت الافضل
              </text>
            </svg>
          </p>
          <p>
            <h2
              class="flex justify-center font-extrabold text-2xl text-primary dark:text-secondary"
            >
              شركة دراهم
            </h2>
            نحن نعمل لتكون انت الافضل
          </p>
          <svg
            id="Layer_1"
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            width="48.32mm"
            height="6.64mm"
            viewBox="0 0 136.98 18.83"
            ><defs
              ><style>
                .cls-1 {
                  fill: #f0c986;
                }
              </style></defs
            ><path
              class="cls-1"
              d="M236.31,424.86a1.4,1.4,0,0,1-1.2-.82,25.17,25.17,0,0,1,.1,2.78,2.46,2.46,0,0,1-.71,1.87,3.43,3.43,0,0,1-2.72,1.16c-1.63,0-2.5-.88-2.63-2.65a5.21,5.21,0,0,1,.4-1.63q.44-1.29.69-1.29s0,0,.08.05a.29.29,0,0,1,0,.33,5.35,5.35,0,0,0-.5,1.8c0,1.23.65,1.84,2,1.84a3.07,3.07,0,0,0,2.93-1.48q-.12-2.1-.51-5.22-.37-2.88-.73-5.75c0-.17.08-.54.18-1.12a.13.13,0,0,1,0-.09c.09,0,.19.18.31.54a20.34,20.34,0,0,1,.53,3,30.45,30.45,0,0,0,.57,3.4c.29,1.09.69,1.69,1.2,1.81Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M247.21,424.86c-.11,0-.48,0-1.1.1a16.86,16.86,0,0,1-1.7.11,12,12,0,0,1-2.28-.29c-.36.07-.94.16-1.73.26a2,2,0,0,1-.91-.09,2.07,2.07,0,0,0-.46.74c-.17.38-.29.56-.35.56s-.07-.05-.1-.15a11.2,11.2,0,0,1,.41-1.25.78.78,0,0,1-.68-.49c-.16-.32-.32-.47-.47-.47s-.4.16-.75.49-.61.48-.78.48v-1.45a3,3,0,0,0,1.53-.65.25.25,0,0,1,.17-.07,2,2,0,0,1,.56.42,1.66,1.66,0,0,0,1.12.42q3.47-3.63,4.54-3.63a2.28,2.28,0,0,1,1.08.34c.5.27.76.56.76.88a2.79,2.79,0,0,1-.49,1.46,3.73,3.73,0,0,1-1.17,1.17l1.31-.12c.44-.07.93-.15,1.49-.22Zm-4.73-9.2c-.12.38-.2.6-.22.66a.71.71,0,0,1-.19.3c-.08.05-.32,0-.7-.14s-.6-.29-.6-.46a.19.19,0,0,1,0-.12,5,5,0,0,0,.32-.66q.15-.39.33-.39a.28.28,0,0,1,.12,0l.64.31c.18.11.28.23.28.35A.52.52,0,0,1,242.48,415.66Zm2.63,6.27a2.23,2.23,0,0,0-1.45-.43,2.92,2.92,0,0,0-1.58.86c-.15.13-.55.52-1.22,1.19a6.33,6.33,0,0,0,2.75-.67C244.6,422.44,245.1,422.12,245.11,421.93Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M248.64,415.65a2.41,2.41,0,0,1-.42.94.08.08,0,0,1-.07,0,2.15,2.15,0,0,1-.72-.17c-.34-.14-.51-.28-.51-.43a.19.19,0,0,1,0-.12,3.08,3.08,0,0,0,.3-.66c.11-.26.22-.39.34-.39l.13,0,.65.31c.19.11.28.23.28.36A.52.52,0,0,1,248.64,415.65Zm2.4,5.79a4.7,4.7,0,0,1-.06.81c-.11.39-.19.62-.22.72a1.71,1.71,0,0,1-.33.57,5.22,5.22,0,0,1-1.66.95,4.61,4.61,0,0,1-1.56.37v-1.45a5,5,0,0,0,2.13-.43,3,3,0,0,0,1.12-.87.92.92,0,0,0,0-.16,1.88,1.88,0,0,0-.55-1.34,1.69,1.69,0,0,1-.27,1.17,1.09,1.09,0,0,1-.69.28h-.17q-.9,0-.9-1.53a2.9,2.9,0,0,1,.36-1.25c.27-.57.58-.86.94-.89a1.5,1.5,0,0,1,1.22.81A3.92,3.92,0,0,1,251,421.44Zm-1.47-1.15a2.11,2.11,0,0,0-.48-.36,1.66,1.66,0,0,0-.38.28c-.14.13-.21.24-.21.31s.09.12.26.12C249.19,420.64,249.46,420.52,249.57,420.29Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M264.32,412.21a40,40,0,0,1-2.33,3.32q-1.83,2.46-3.25,4.3a4.39,4.39,0,0,1,.72,2.11c0,.45-.06.7-.07.75a1.75,1.75,0,0,1-.22.66,2.84,2.84,0,0,1-2,1.23.69.69,0,0,1-.62-.46,2,2,0,0,1-.19-.9,4.4,4.4,0,0,1,.39-1.55,8.35,8.35,0,0,1,.76-1.41,37.12,37.12,0,0,0-3-2.51,10.39,10.39,0,0,0-1.58-1.1c0,.1-.11.16-.29.16a2,2,0,0,1-1-.35,1.28,1.28,0,0,1-.68-.84,6.47,6.47,0,0,1,.08-1.32q0-.24.39-.24a3.18,3.18,0,0,1,1.61.73,47.79,47.79,0,0,1,5.18,4.43c.5-.68,1.52-2.05,3.08-4.1.67-.83,1.54-1.95,2.61-3.34.13-.17.23-.25.31-.25s.17.1.17.3A.7.7,0,0,1,264.32,412.21ZM258.73,422a2,2,0,0,0-.68-1.13c-.16.28-.33.55-.5.83a2.86,2.86,0,0,0-.4,1,1.15,1.15,0,0,0,.41.08,1.34,1.34,0,0,0,.82-.3C258.61,422.27,258.73,422.1,258.73,422Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M264.24,423.79a1.91,1.91,0,0,1-.16,1c-.07.15-.13.22-.19.22s-.26-.47-.38-1.41c-.13-1.16-.25-2.32-.38-3.48q-.11-1.06-.33-2.64c-.1-.77-.16-1.21-.16-1.34a2.74,2.74,0,0,1,.27-1.31q.09-.18.15-.18c.08,0,.16.33.25,1,0,.11.17,1.31.45,3.59C264,421.19,264.16,422.71,264.24,423.79Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M279.32,424.86c-.47,0-1-.45-1.63-1.35-.19.24-.33.41-.43.51a3.23,3.23,0,0,1-.63.47,11.31,11.31,0,0,1-2,.56,17.33,17.33,0,0,1-4,.54,6.23,6.23,0,0,1-2.86-.6,2.26,2.26,0,0,1-1.42-2.09,4.31,4.31,0,0,1,.32-1.3c.21-.58.38-.87.52-.87l.06,0a.36.36,0,0,1,0,.26c-.06.2-.09.3-.09.32a2.76,2.76,0,0,0,0,.93c.34,1.16,1.65,1.73,3.91,1.73a14.36,14.36,0,0,0,6.27-1.23.67.67,0,0,0,.31-.33c0-.1.07-.2.1-.31s.11-.2.16-.2.1.08.13.23a1,1,0,0,1,0,.37c0,.1-.06.27-.12.5a2.22,2.22,0,0,0,1.32.38Zm-6.53-5.77a1.39,1.39,0,0,1-.12.58c-.1.31-.2.46-.3.46a1.65,1.65,0,0,1-.61-.27c-.31-.19-.46-.33-.47-.43s.1-.51.5-1.11A3.23,3.23,0,0,1,272.79,419.09Zm1.73-.63a2.17,2.17,0,0,1-.16.53c-.13.35-.27.53-.42.55a1.26,1.26,0,0,1-.56-.33,2.1,2.1,0,0,1-.42-.48q.38-1,.6-1.08a1.43,1.43,0,0,1,.48.28C274.33,418.14,274.49,418.32,274.52,418.46Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M280.08,415.76a2.71,2.71,0,0,1-.43.95h-.07a2.05,2.05,0,0,1-.71-.17c-.34-.13-.5-.27-.5-.41a.2.2,0,0,1,0-.13,5.65,5.65,0,0,0,.29-.65c.11-.26.22-.39.34-.39l.13,0,.65.31c.18.11.28.22.28.35A.44.44,0,0,1,280.08,415.76Zm.83,7a3.7,3.7,0,0,1-.35,1.59c-.15.34-.56.5-1.24.5v-1.45q.82,0,.9-.45a3.4,3.4,0,0,0-.39-.68,1.59,1.59,0,0,1-.27-.66,9.73,9.73,0,0,1,.4-1l.06,0c.16,0,.33.17.49.52A5.45,5.45,0,0,1,280.91,422.77Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M284,423.79a2,2,0,0,1-.17,1c-.07.15-.13.22-.19.22s-.26-.47-.37-1.41c-.13-1.16-.26-2.32-.38-3.48-.08-.71-.19-1.59-.34-2.64-.1-.77-.15-1.21-.15-1.34a2.75,2.75,0,0,1,.26-1.31q.09-.18.15-.18c.08,0,.17.33.25,1,0,.11.17,1.31.45,3.59C283.79,421.19,284,422.71,284,423.79Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M292.85,424.39a6.54,6.54,0,0,1-.53,2.43,3.71,3.71,0,0,1-1.47,1.38,4.36,4.36,0,0,1-2.17.58,2.11,2.11,0,0,1-1.79-.94,3.65,3.65,0,0,1-.67-2.23,6.32,6.32,0,0,1,.14-1.18,3.18,3.18,0,0,1,.38-1.12c.09-.13.17-.19.25-.19s.17.1.17.29a2.44,2.44,0,0,1-.13.71,2.46,2.46,0,0,0-.14.6,2.56,2.56,0,0,0,.57,1.71,1.81,1.81,0,0,0,1.44.68,4.6,4.6,0,0,0,1.67-.43,3.2,3.2,0,0,0,1.59-1.24,5.79,5.79,0,0,0-.37-2,4,4,0,0,0-.64-1c-.23-.25-.34-.4-.34-.45a10.25,10.25,0,0,1,.4-1.48.25.25,0,0,1,.22-.15.17.17,0,0,1,.12.08,8.74,8.74,0,0,1,.88,1.92A6.48,6.48,0,0,1,292.85,424.39Zm-2.49-6.52a2.43,2.43,0,0,1-.12.61c-.12.37-.25.56-.41.56a1.29,1.29,0,0,1-.59-.25c-.32-.19-.48-.39-.48-.58a3.33,3.33,0,0,1,.14-.62,2.61,2.61,0,0,1,.21-.62,1.86,1.86,0,0,1,.64.25C290.16,417.43,290.36,417.65,290.36,417.87Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M298.37,424.86H298a4.49,4.49,0,0,1-.91,1.87,4.62,4.62,0,0,1-2.21,1.83,15.6,15.6,0,0,1-2.23-.42c-.79-.2-1.18-.34-1.18-.44s.07-.05.23-.05l1.47,0a4.15,4.15,0,0,0,1.24-.16,5.37,5.37,0,0,0,1.78-1.12,4.59,4.59,0,0,0,1.31-1.53l-.66,0c-1.09,0-1.64-.49-1.64-1.46a2.87,2.87,0,0,1,.42-1.27c.32-.6.64-.92,1-1,.18,0,.44.19.78.65a4.49,4.49,0,0,1,.73,1.57h.29Zm-1.51-1.49a1,1,0,0,0-.14-.47.4.4,0,0,0-.4-.25q-.35,0-.39.48a1.16,1.16,0,0,0,.56.26C296.68,423.42,296.8,423.42,296.86,423.37Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M319.83,424.86a5.25,5.25,0,0,1-1.32-.11.94.94,0,0,1-.78-.8,1,1,0,0,1,.06-.43l.12-.39-1.21.13-6.38.91a74.88,74.88,0,0,1-9.53.73c-.54,0-1.35,0-2.42,0v-1.45c2.77,0,4.54,0,5.32-.07,2.58-.17,6-.52,10.21-1,1.12-.14,2.51-.32,4.18-.55q0-.52-1-.87a3.52,3.52,0,0,0-1-.24c.23,0-1.26.19-4.48.56a67.9,67.9,0,0,1-7.54.56,30.75,30.75,0,0,1-3.68-.13c-.84-.13-1.26-.45-1.26-.95a3,3,0,0,1,.61-1.25,10.84,10.84,0,0,1,1.6-1.84,23.31,23.31,0,0,1,5.27-2.91.65.65,0,0,1,.23-.06.08.08,0,0,1,.09.09,1.39,1.39,0,0,1-.17.43c-.14.16-.3.36-.49.62-.42.19-1.29.63-2.59,1.34q-1.5.9-2.07,1.29a10.51,10.51,0,0,0-1.58,1.27l.07.21c.05.1.2.18.44.25a10.77,10.77,0,0,0,1.6.23c2.13.05,3.8.05,5,0q2.07-.08,4.14-.33l4.35-.57a7.81,7.81,0,0,1,.9-.06,3.88,3.88,0,0,1,.87.09l.51.15c1,.41,1.57.93,1.57,1.58a1.34,1.34,0,0,1-.07.39c-.22.81-.52,1.26-.87,1.36l-.21.06c0,.2.17.32.5.38h1Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M321.27,417.28a1.3,1.3,0,0,1-.13.58c-.11.31-.23.47-.33.47a1.79,1.79,0,0,1-.57-.29c-.31-.19-.48-.33-.49-.42s.1-.5.51-1.11A3.27,3.27,0,0,1,321.27,417.28Zm2.53,7.58a2.15,2.15,0,0,1-.59-.14,3.25,3.25,0,0,1-.85-.47,5.1,5.1,0,0,1-.51-.88c-.37.55-.58.85-.62.89a1.88,1.88,0,0,1-1.4.6v-1.45a2.93,2.93,0,0,0,1.18-.24,1.66,1.66,0,0,0,.7-.81c.22-.39.39-.59.51-.59a.37.37,0,0,1,.14,0s0,.11,0,.24,0,.24,0,.33.2.34.55.6a1.64,1.64,0,0,0,.92.43Zm-.83-8.23a2.14,2.14,0,0,1-.14.55c-.13.35-.27.53-.43.55a1.07,1.07,0,0,1-.55-.32,1.93,1.93,0,0,1-.43-.49,3.83,3.83,0,0,1,.29-.62c.15-.28.26-.44.33-.46a1.34,1.34,0,0,1,.47.28C322.8,416.32,323,416.49,323,416.63Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M325.22,423.15c-.09,1.08-.56,1.65-1.42,1.71v-1.45a1.27,1.27,0,0,0,.63-.17.46.46,0,0,0,.28-.39c-.29-1.35-.65-3.29-1.1-5.8a1.72,1.72,0,0,0-.33-.68l.15-.9c.08-.5.18-.76.29-.76s.09,0,.14.1a.61.61,0,0,1,.11.29.7.7,0,0,0,.1.29,1.21,1.21,0,0,0,.34.26l.23.16a2.54,2.54,0,0,1,0,.43,5.59,5.59,0,0,1-.31.94c.19.88.39,1.75.59,2.61a14,14,0,0,1,.36,2.8A5.12,5.12,0,0,1,325.22,423.15Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M334.62,424.86a1.41,1.41,0,0,1-1.21-.82,26.11,26.11,0,0,1,.11,2.78,2.46,2.46,0,0,1-.71,1.87,3.44,3.44,0,0,1-2.73,1.16c-1.62,0-2.5-.88-2.63-2.65a5.67,5.67,0,0,1,.41-1.63c.29-.86.52-1.29.68-1.29a.1.1,0,0,1,.08.05.26.26,0,0,1,0,.33,5.61,5.61,0,0,0-.5,1.8c0,1.23.65,1.84,2,1.84a3.09,3.09,0,0,0,2.94-1.48c-.09-1.4-.25-3.14-.51-5.22q-.37-2.88-.73-5.75c0-.17.07-.54.17-1.12,0-.05,0-.08.06-.09s.19.18.3.54a18.7,18.7,0,0,1,.54,3,31.13,31.13,0,0,0,.56,3.4c.3,1.09.7,1.69,1.21,1.81Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M340.41,424.86a3.74,3.74,0,0,1-1.89-.61,1.13,1.13,0,0,1-.19.47.48.48,0,0,1-.42.16,3.68,3.68,0,0,1-.94-.25,2.6,2.6,0,0,1-1.2-.7c-.38.62-.76.93-1.15.93v-1.45a5.84,5.84,0,0,0,.88-.11,3.57,3.57,0,0,0,.78-1.05,2.63,2.63,0,0,1,.48-.77,1.23,1.23,0,0,1,.43-.09,1.06,1.06,0,0,1,.77.41l.66.73a3.28,3.28,0,0,0,1.79.89ZM338,423.34c-.28-.76-.57-1.14-.88-1.16a.33.33,0,0,0-.34.21c-.06.14-.12.29-.17.43Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M345.72,424.85a3,3,0,0,1-1.54-.33,7.92,7.92,0,0,1-1.06-.88c-.67.48-1.09.77-1.24.86a3.13,3.13,0,0,1-1.47.36v-1.45a4.31,4.31,0,0,0,2.14-.43q-.54-.57-.81-.57a2.67,2.67,0,0,0-.74.19,5.37,5.37,0,0,1,.51-1.44,1.84,1.84,0,0,1,1.47-.52,3.57,3.57,0,0,1,1.19.25c.63.23.95.52.95.86a1,1,0,0,1-.26.65l-.53.54a2.73,2.73,0,0,0,1.39.48Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M346.47,415.76a2.53,2.53,0,0,1-.43.95H346a2.11,2.11,0,0,1-.71-.17c-.33-.13-.5-.27-.5-.41a.2.2,0,0,1,0-.13,4.23,4.23,0,0,0,.29-.65c.11-.26.22-.39.35-.39l.12,0,.65.31c.19.11.28.22.28.35A.44.44,0,0,1,346.47,415.76Zm.83,7a3.84,3.84,0,0,1-.34,1.59c-.16.34-.57.5-1.24.5v-1.45c.54,0,.84-.15.89-.45a3.83,3.83,0,0,0-.38-.68,1.49,1.49,0,0,1-.28-.66,9.73,9.73,0,0,1,.4-1l.06,0c.17,0,.33.17.49.52A5.45,5.45,0,0,1,347.3,422.77Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M357.09,424.86h-.52c.07.64.1,1,.1,1.1a5.12,5.12,0,0,1-.84,2.69c-.69,1.15-1.94,1.72-3.74,1.72a2.33,2.33,0,0,1-2.06-1,3.32,3.32,0,0,1-.52-2.16,4.37,4.37,0,0,1,.92-2.71.29.29,0,0,1,.18-.13c.1,0,.1.11,0,.33a6.25,6.25,0,0,0-.45,2.06,2.12,2.12,0,0,0,.43,1.25,1.92,1.92,0,0,0,1.64.78,5.48,5.48,0,0,0,2.44-.5,2.09,2.09,0,0,0,1.28-1.34,6.69,6.69,0,0,0-.19-2,3.13,3.13,0,0,0-.38-.81,1.65,1.65,0,0,1-.2-.39,2.87,2.87,0,0,0,.34-1.17c0-.11,0-.16.13-.16a.26.26,0,0,1,.2.14s.18.29.5.83a4.18,4.18,0,0,0,.72.07Zm-2.25-4.8a2.38,2.38,0,0,1-.43,1h-.07a2.1,2.1,0,0,1-.71-.16c-.34-.14-.5-.28-.5-.42a.2.2,0,0,1,0-.13,3.88,3.88,0,0,0,.3-.65c.11-.26.23-.39.35-.39a.27.27,0,0,1,.12,0l.64.31c.18.1.28.22.28.35A.44.44,0,0,1,354.84,420.06Z"
              transform="translate(-229.15 -411.53)"></path><path
              class="cls-1"
              d="M366.13,421.55a1.92,1.92,0,0,1-.4.86c-.09.14-.18.21-.26.21.11,0,0,0-.34,0l-.32,0-.39,0a5.94,5.94,0,0,0-2.33.57l-3.35,1.47a4.6,4.6,0,0,1-1.65.26v-1.45a7.35,7.35,0,0,0,2.53-.53l1.68-.63a13.07,13.07,0,0,1-2.2-.35,8.35,8.35,0,0,0-1.18-.24.79.79,0,0,0-.28,0,.58.58,0,0,1-.33,0c-.11,0-.16-.1-.13-.24a2.19,2.19,0,0,1,.46-1,4.14,4.14,0,0,1,1.23-.79l1.31-.6a7.51,7.51,0,0,0,2.12-2c.61-.79,1-1.2,1.11-1.21s.42.13.57.44a3,3,0,0,1,.24,1.22,3.4,3.4,0,0,1-.15,1c-.1.3-.18.45-.26.45s-.09-.12-.11-.35l0-.44c-.08-.56-.28-.86-.59-.9a2.73,2.73,0,0,0-.67.73,12.43,12.43,0,0,1-1,1.23,7,7,0,0,1-1.68,1.32l2.44.32c1.08.13,2.38.22,3.91.25C366.13,421.24,366.14,421.35,366.13,421.55Zm-3-9a2.62,2.62,0,0,1-.41,1h-.07a1.93,1.93,0,0,1-.72-.17q-.51-.21-.51-.42a.19.19,0,0,1,0-.12,3.88,3.88,0,0,0,.3-.65c.1-.26.22-.39.34-.39a.31.31,0,0,1,.13,0l.64.3c.18.11.28.22.28.35A.43.43,0,0,1,363.12,412.58Z"
              transform="translate(-229.15 -411.53)"></path></svg
          >
        </div>
      </div>
    </div>
    <div class="hidden mx-auto border-t-4 text-white md:w-1/2 lg:w-full">
      <img
        class="mx-auto flex justify-center"
        src={FeaturedSVG.src}
        alt="دراهم"
      />
    </div>

    <!-- </main>
<div class="relative bg-white dark:bg-gray-900 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div>
      
        class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28"
      
        <div class="text-center sm:text-right">
          <div class="flex justify-center">
            <Img
              class="flex justify-center h-20 w-auto dark:text-gray-900"
              src="../images/svg/darahem/darahem.svg"
              alt="دراهم"
            />
          </div> -->
    <!-- <h1
          class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl text-left"
        >
          <span
            class="block text-center justify-center text-blue-700 dark:text-blue-300 xl:block"
          >
            {' شركة '} دراهم
          </span>
        </h1> -->

    <!-- <p
            class="mt-3 text-center text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            نحن هنا لنساعدك في تطوير اعمالك وتوسيع التجارة
          </p>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            نوصلك لاهدافك بايسر الطرق واسرعها نؤمِن لك التعامل مع كل الاطراف
            الذين ترغب في اتمام الصفقات والتواصل معهم نضعك على خارطة العالم
            للتعريف باعمالك وتنميتها وتطويرها.
          </p>
          <p
            class="mt-3 text-base text-gray-600 dark:text-gray-300 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0"
          >
            . 
          </p>
          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-center">
            <div class="rounded-md shadow"> -->
    <!-- <a
              href="/about"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-blue-600 hover:bg-green-600 dark:text-black dark:bg-blue-300 dark:hover:bg-green-300 md:py-4 md:text-lg md:px-10"
            >
              المزيد
            </a>
          </div>
          <div class="mt-3 sm:mt-0 sm:ml-3">
            <a
              href="https://github.com/sponsors/hellotham"
              class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-blue-800 bg-blue-100 hover:bg-green-200 dark:text-blue-100 dark:bg-blue-900 dark:hover:bg-green-900 md:py-4 md:text-lg md:px-10"
              rel="noopener noreferrer"
              target="_blank"
            >
              خدماتنا
            </a> 
      
    </div>
  </div>
</div> -->
    <!-- 
<div
  class="z-10 relative pb-8 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32 bg-white dark:bg-gray-900"
>
  <svg
        class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-gray-900 transform translate-x-1/2"
        fill="currentColor"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="false"
      >
        <polygon points="50,0 100,0 50,100 0,100"></polygon>
      </svg> -->

    <!-- <div
    class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 bg-blue-100 dark:bg-blue-500"
  >
    <Img
      class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full"
      src={FeaturedSVG}
      alt="featured"
    />
  </div> 
</div> -->
  </div>
</main>
<style is:global>
  svg {
  }
  /* .cls-1 { */
  #Layer_1 {
    fill: navy;
    stroke: gold;
    stroke-width: 2px;
    stroke-dasharray: 120;
    animation: draw 3s forwards infinite;
  }
  @keyframes draw {
    from {
      stroke-dashoffset: -120;
      /* stroke: navy; */
      stroke: #f0c986;
      fill: #f0c986;
    }

    to {
      stroke-dashoffset: 0;
      /* stroke: #f0c986; */
      stroke: #0f3548;
      fill: #0f3548;
    }
  }
  svg text {
    /* text-transform: uppercase; */
    animation: stroke 4s infinite alternate;
    stroke-width: 2;
    stroke: #f0c986;
    font-size: 140px;
  }
  @keyframes stroke {
    0% {
      fill: rgba(72, 138, 20, 0);
      stroke: rgba(54, 95, 160, 1);
      stroke-dashoffset: 25%;
      stroke-dasharray: 0 50%;
      stroke-width: 2;
    }

    70% {
      fill: rgba(72, 138, 20, 0);
      stroke: rgba(54, 95, 160, 1);
    }
    80% {
      fill: rgba(72, 138, 20, 0);
      stroke: rgba(54, 95, 160, 1);
      stroke-width: 3;
    }
    100% {
      fill: rgba(72, 138, 204, 1);
      stroke: rgba(54, 95, 160, 0);
      stroke-dashoffset: -25%;
      stroke-dasharray: 50% 0;
      stroke-width: 0;
    }
  }

  /* .cls-1 {
    fill: white;
    fill-opacity: 0;
    stroke: white;
    stroke-width: 5;
    stroke-linecap: round;

    stroke-dasharray: 860;
    stroke-dashoffset: 860;
    animation: draw 2s linear forwards;
  } */

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  #texts {
    overflow: hidden;
    background: hsla(0, 5%, 5%, 1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(
      to right top,
      hsla(0, 5%, 15%, 0.5),
      hsla(0, 5%, 5%, 1)
    );
  }
  svg {
    width: 100%;
  }
</style>
<script is:inline>
  var path = document.querySelector(".cls-1");
  var pathlenget = path.getTotalLength();
  console.log(pathlenget);
</script>
